<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo!</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{uc .Name}}</li>
    <li>{{.Motto}}</li>
    <li>{{.Country}}</li>
    {{end}}
</ul>
</body>
</html>